*.gitignore filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/bib filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/book1 filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/book2 filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/geo filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/news filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/obj1 filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/obj2 filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/paper1 filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/paper2 filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/pic filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/progc filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/progl filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/progp filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/calgary/trans filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.lsp filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/real_world/ptt5 filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/real_world/sum filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/dickens filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/mozilla filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/mr filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/nci filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/ooffice filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/osdb filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/reymont filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/samba filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/sao filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/webster filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/x-ray filter=lfs diff=lfs merge=lfs -text
/data/academic_corpora/silesia/xml filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/bib filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/book1 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/book2 filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/geo filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/news filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/obj1 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/obj2 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/paper1 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/paper2 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/paper3 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/paper4 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/paper5 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/paper6 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/pic filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/progc filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/progl filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/progp filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/calgary/trans filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/canterbury/ptt5 filter=lfs diff=lfs merge=lfs -text
/data/publication_benchmarks/canterbury/sum filter=lfs diff=lfs merge=lfs -text
*.coli filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.keras filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
